.contacts{
    position: relative;

    @media @tablet{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 350px;
    }

    @media @desktop{
        display: flex;
        flex-direction: row;
        min-height: 350px;
    }
}
.contacts__text{
    display: block;
}
.contacts__item{
    @media @tablet{
        width:50%;
        margin: 0;
    }

    @media @desktop{
        width:33%;
        margin: 0;
        flex-grow: 1;
    }

    &_type_adress{
        width: 100%;

        @media @desktop{
            order: 2;
        }
    }

    &_type_phone{
        @media @desktop{
            order: 1;
        }
    }
    &_type_mail{
        @media @desktop{
            order: 3;
        }
    }

}
