.download{
    display: block;
    min-height: 160px;
    background-color: @color_dark_blue;
    padding: 25px @padding 15px @padding;
    margin: 0 auto 30px;

    @media @tablet{
        flex-grow: 2;
        background: none;
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 0 0 85px;
    }
    @media @desktop{
        width:60%;
        box-sizing: border-box;
    }
}
.download__button{
    display: block;
    color: @color_white;
    font-weight: @weight_bold;
    font-size: @font_main;
    width:280px;
    height: 20px;
    text-align: center;
    margin: 0 auto 30px;
    border: solid white 3px;
    border-radius: 40px;
    padding: 12px 0 16px 0;

    @media @desktop{
        margin-bottom: 60px;
    }

    &:hover{
        color:@color_red;
        background: @color_white;
    }
    &:active{
        color:lighten(@color_red, 30%);
    }
}
.download__icon-container{
    width: 190px;
    text-align: center;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    @media @tablet{
        margin-bottom: 40px;
    }
    @media @desktop{
        margin-bottom: 60px;
    }
}
.download__icon{
    width: 46px;
    height:65px;
    display:inline-block;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: center bottom;

    &_os_ios{
        background-image: url(../img/aple_icon.png);
    }
    &_os_android{
        background-image: url(../img/apndroid_icon.png);
    }
    &_os_windows{
        background-image: url(../img/win_icon.png);
    }
}
.download__text{
    width:73%;
    margin: 0 auto 0;
    color: @color_white;
    text-align: center;

    @media @tablet{
        width:78%;
        font-size: 18px;
        line-height: 24px;
    }
    @media @desktop{
        width: 70%;
    }
}
