// Обычные стили для features
.features{
     .gradient;
    min-height: 1000px;
    margin: 0 0 30px 0;

    @media @tablet{
        min-height: 500px;
        padding: 60px 0 0 0;
        margin: 0;
    }
}
.features__image{
    display: none;

    @media @desktop{
        display: block;
        width: 195px;
        height:385px;
        margin: 0 auto 70px;
        background-repeat: no-repeat;
        background-position: 50% 100%;

        &_type_mood{
            background-image: url(../img/Iphone_decstop_left.png);
        }
        &_type_world{
            background-image: url(../img/Iphone_decstop_center.png);
        }
        &_type_friends{
            background-image: url(../img/Iphone_decstop_right.png);
        }
    }
}
.features__header{
    margin: 0 auto 70px;
}
.features__list{
    list-style-type: none;
    padding: 0;

    @media @tablet{
        width:50%;
        padding: 80px 0 0 0;
        margin: 0;
        order: 2;
    }

    @media @desktop{
        display: flex;
        width:80%;
        justify-content:space-around;
        margin: 0 auto 0;
    }
}
.features__item{
    list-style: none;
    margin: 0 0 30px;

    @media @tablet{
        margin: 0 0 20px;
    }
    @media @desktop{
        width: 30%;
    }
}
.features__text{
    text-align: center;
    font-weight: @weight_regular;
    width: 73%;
    margin: 0 auto 0;

    @media @tablet{
        padding: 0;
        margin:0;
        text-align: left;
    }
    @media @desktop{
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }
}
.features__title{
    width:70%;
    margin: 0 auto 20px;

    @media @desktop{
        font-size: 30px;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }
}
.features__image-container{
    height:310px;
    width: 280px;
    margin: auto;
    background-image: url(../img/iphone_features.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    @media @tablet{
        order: 1;
        background-image: url(../img/iphone_features_ipad.png);
        background-position: 10% top;
        height: 525px;
        width:50%;

        @media @desktop{
            display: none;
        }
    }
}

// Планшетные стили для features
@media @tablet{

    .features__title_scr_tablet{
        text-align: left;
        margin: 0;
        margin-bottom: 20px;
    }
}


