// Обычные стили для footer
.footer{
    display: none;
}

// Планшетные стили для footer
@media screen and (min-width: 700px){
    .footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 110px;
        background: @color_white;
    }
    .social,
    .copyright,
    .logo-container{
        display: flex;
        padding: 0;
        margin: 0;
        width: 33%;
        min-height: 70px;
        text-align: center;
    }
    .logo__footer{
        font-size: 32px;
        text-decoration: none;
        font-weight:@weight_bold;
        color: #ffffff;
        text-transform: uppercase;
        padding: @padding;
        width: 33%;
        background-image: url(../img/logo/Pink-logo-footer-2@1x.png);
        background-repeat: no-repeat;
        background-position: 20% 50%;
        margin: auto;
    }
    .social,
    .copyright{
        justify-content:center;
        padding-top: 15px;
    }
    .social__button{
        display: inline-block;
        width:43px;
        height: 43px;
        background: @color_white;
        border-radius: 50% 50%;
        border: 3px solid #e9ebec;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;

        &_link_tw{
            background-image: url(../img/icon_twitter.png);
        }
        &_link_fb{
            background-image: url(../img/icon_facebook.png);
        }
        &_link_yt{
            background-image: url(../img/icon_youtube.png);
        }
    }
    .copyright__by,
    .copyright__for{
        text-decoration: none;
        color: black;
        font-weight: @weight_bold;
    }
    .copyright__by,
    .copyright__for,
    .copyright__img{
        display: inline-block;
        align-self: center;
        margin: 0;
        margin-right: 7px;
    }
}
// Декстопные стили для footer
@media screen and (min-width: 1200px) {
    .logo__footer{
        background-image:url(../img/logo/Pink-logo-footer-3@1x.png);
    }
}
