// Обычные стили для review
.review{
    .gradient;
}
.review__caption{
    display: none;
}
.review__item{
    padding-bottom: @padding;
}
.review__text{
    text-align: center;
    width: 73%;
    margin: 0 auto 0;
    line-height: 30px;
}

// Планшетные стили для review
@media screen and (min-width: 700px){
    .review{
        margin: 0 0 40px;
    }
    .review__item{
        display: flex;
        flex-direction:column;
        width:100%;
    }
    .review__text{
        font-size: 18px;
        line-height: 30px;
        order: 1;
    }
    .review__name{
        order: 2;
    }
    .review__caption{
        font-size: 14px;
        line-height: 30px;
        display: block;
        margin: 0 auto 0;
        order: 3;
    }
}

// Декстопные стили для review
@media screen and (min-width: 1200px){
    .review__item{
        margin: 0 0 30px;
    }
    .review__text{
        padding-top: 70px;
        background-image: url(../img/review_icon.png);
        background-repeat: no-repeat;
        background-position: center top;

        &_icon_white{
            background-image: url(../img/review_icon_color_white.png);
        }
    }
}
