.trust{
    display: none;

    @media @tablet{
        display: flex;
        flex-direction: row;
        min-height: 340px;
        margin: 0 0 60px;
    }
}

.trust__image{
    @media @tablet{
        width: 45%;
        background-image: url(../img/trust_icon.png);
        background-repeat: no-repeat;
        background-position: 90% 70%;
    }
}

.trust__item{
    @media @tablet{
        width: 35%;
        padding: 90px 40px;
    }

    @media @desktop{
        width: 65%;
    }
}

.trust__title{
    @media @tablet{
        font-size: 30px;
        font-weight: @weight_bold;
        line-height: 36px;
        width: 65%;
    }

    @media @desktop{
        font-size:30px;
        line-height: 30px;
    }
}

.trust__text{
    @media @tablet{
        width: 84%;
    }

    @media @desktop{
        font-size:18px;
        line-height: 30px;
    }
}

.trust__link{
    @media @tablet{
        color:@color_red;
    }

    @media @desktop{
        font-size:18px;
        line-height: 30px;
    }
}

